/* -------------------------------------------------- colors -------------------------------------------------- */
.color-1 {
  background-color: #19f61b;
}
.color-2 {
  background-color: #f301cf;
}
.color-3 {
  background-color: #1985ff;
}
.color-4 {
  background-color: #e88407;
}
.color-5 {
  background-color: #8202cc;
}
.color-6 {
  background-color: #ac0800;
}
.color-7 {
  background-color: #d9fd40;
}
.color-8 {
  background-color: #63f9c0;
}
.color-9 {
  background-color: #9762ff;
}
* {
  font-family: "Patrick Hand", IRANSansWeb;
  box-sizing: border-box;
  border-radius: 0.2rem;
  margin: 0.2rem;
  padding: 0.2rem;
}
html {
  font-size: 70%;
}
body {
  background: #e5e7eb;
}
legend {
  text-align: center;
  border-radius: 0.2rem;
}
fieldset * {
  font-size: 1.6rem;
}
fieldset,
div {
  border-radius: 0.5rem;
}
fieldset.sub {
  width: 12rem;
  height: 8rem;
  display: inline-block;
  text-align: center;
}
fieldset.base {
  background-color: #9ca3af;
  margin-top: 2rem;
}
fieldset.base legend {
  background-color: #bef264;
  font-size: 2rem;
  border-radius: 3rem;
  padding: 0.5rem;
  border: 0.2rem solid #3730a3;
}

.selectItems {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  background-color: #a78bfa;
}
.selectItems > * {
  margin: 0.5rem;
}
.container {
  border: 1px solid #2e2e2e;
  background-color: #e4e4e7;
  display: flex;
}
.box {
  border: 1px solid #2e2e2e;
  cursor: pointer;
}

.box-property {
  display: inline-flex;
  font-size: 1.5rem;
  align-items: flex-start;
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
}
.container-property {
  border: 1px solid #d1d5db;
  background-color: #f3f4f6;
  border-radius: 0.5rem;
  display: inline-flex;
}

.box-property table {
  margin-top: 1.4rem;
}
.box-property table,
.box-property td {
  border: 0.1rem solid #4c1d95;
  border-collapse: collapse;
  text-align: center;
}
